/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* CRUD Styles
********************************************/
.mdc-data-table__header-cell{
    background-color: #eeeeee !important;
}

.mat-column-actions{
    max-width: 125px !important;
}

.success-snackbar {
  --mdc-snackbar-container-color: #4caf50 !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-mdc-snack-bar-button-color: white !important;
}

.error-snackbar {
  --mdc-snackbar-container-color: #f44336 !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-mdc-snack-bar-button-color: white !important;
}

.mat-mdc-snack-bar-container {
  margin-top: 60px !important;
}